@model IEnumerable<MFM.Models.Budget>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Define a new budget to manage your expenses</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentFunds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllocatedFunds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentFunds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllocatedFunds)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
